.properties-view-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: fit-content;
}

.properties-view-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

.slider-buttons{
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-self: flex-end;
}
.buttons-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-self: flex-end;
}
.buttons-container p{
    text-decoration: underline;
}
.buttons-container p:hover{
    cursor: pointer;
    color: var(--primary-color);
}

.slider-buttons-divider{
    width: 0.1rem;
    background-color: var(--primary-color);
    margin: 0 auto;
}

.properties-view-title-section{
    align-self: center;
}

.properties-view-title-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}
.properties-view-title, .properties-view-subtitle{
    text-align: center;
}

.properties-view-divider{
    background-color: var(--primary-color);
    width: 100%;
    height: 0.2rem;
    margin: 0 auto;
}

.properties-view-slider{
    padding: 2rem 0;
}

.mySwiper .swiper {
    width: 80%;
    height: 70%;
  }
  
 .mySwiper .swiper-slide {
    text-align: center;
    font-size: 10px;
    background: var(--theme-color);
    width:fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  
  .mySwiper .swiper-slide img {
    max-width: 70%;
  }
  .properties-view-button-container{
    display: flex;
    justify-content: center;
  }

  @media (max-width: 750px) {
    .slider-buttons{
        display: none;
    }
    @media (max-width: 500px) {
        .properties-view-subtitle{
            font-size: 10px !important;
        }
        .properties-view-title{
            font-size: 30px !important;
        }
    }
}