.contact-start-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    min-height: fit-content;
}

.contact-image{
    display: flex;
    
    
    align-self: flex-end;
}
.contact-image-pic{
    display: block;
    max-width: 100%;
}

@media (max-width: 880px) {
    .contact-start-container{
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
    }
    .contact-start-description{
        order:-1;
    }
    
    .contact-image-pic{
        max-width: 70%;
    }
   
}