.work-with-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: fit-content;
}

.work-with-me-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%; 
    gap: 0.5rem;
}

.work-with-me-title, .work-with-me-description{
    text-align: center;
}
.work-with-me-description{
    line-height: 2rem;
}

.work-with-me-button-container{
    margin-top: 1rem;
}

.work-with-me-divider{
    width: 70%;
    height: 0.1rem;
    background-color: var(--primary-color);
   
}

@media (max-width: 750px) {
    .work-with-me-content{
        width: 90%;
    }
    .work-with-me-divider{
        width: 100%;
    }
}