*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.body-text {
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  font-family: var(--secondary-font);
  color: var(--text-color);

  transition: color 0.8s ease;
}

.title-lg{
    font-size: var(--h1-font-size);
    font-weight: 400;
    font-family: var(--primary-font);
    color: var(--text-color);
    transition: color 0.8s ease;
}

.title-md{
    font-size: var(--h2-font-size);
    font-weight: 400;
    font-family: var(--primary-font);
    color: var(--text-color);
    transition: color 0.8s ease;
}

.title-sm{
    font-size: var(--h3-font-size);
    font-weight: 400;
    font-family: var(--primary-font);
    color: var(--text-color);
    transition: color 0.8s ease;
}

.bg-color{
    background-color: var(--theme-color);
    transition: background-color 0.8s ease;
}

.bg-image{
    background-position: center;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height:100dvh;
    width: 100%;
}

.button{
    background-color: var(--secondary-color);
    color: rgb(255, 255, 255);
    padding: 5px 20px;
    font-family: var(--secondary-font);
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
    border-radius: 5px;
    border: 3px solid var(--secondary-color);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
.button:hover {
    background-color: transparent;
    
  }

  .body-padding{
    padding: var(--body-padding);
  }